//- navbar for navigating the app 

nav(class="navbar")
    a.navbar-brand(href="/app/dashboard")
        img(class="nav-logo" src="/img/cookBook.svg", alt="logo")

    ul(class="nav-list")
        a(class="nav-link" href="/app/dashboard") Dashboard
        a(class="nav-link" href="/app/recipes") Recipes
        

    include ./userBug.pug
        
