@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");
/* line 6, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_utility.scss */
.container, .container-centered {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem; }

/* line 14, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_utility.scss */
.container-centered {
  height: 100vh;
  display: grid;
  place-items: center; }

/* line 22, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_utility.scss */
.flash-container {
  position: absolute;
  bottom: 5;
  right: 5;
  z-index: 100; }
  /* line 28, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_utility.scss */
  .flash-container .info {
    background-color: #d1c700; }
  /* line 32, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_utility.scss */
  .flash-container .success {
    background-color: #03faab; }
  /* line 36, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_utility.scss */
  .flash-container .error {
    background-color: #ff0000; }

/* line 42, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_utility.scss */
.input-group, input[type="text"], input[type="password"], input[type="email"] {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; }
  /* line 46, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_utility.scss */
  .input-group label, input[type="text"] label, input[type="password"] label, input[type="email"] label {
    margin-bottom: 0.5rem; }
  /* line 49, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_utility.scss */
  .input-group input, input[type="text"] input, input[type="password"] input, input[type="email"] input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem; }

/* line 59, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_utility.scss */
input[type="text"], input[type="password"], input[type="email"] {
  border: 3px solid white input[type="text"], input[type="password"], input[type="email"]; }
  /* line 62, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_utility.scss */
  input[type="text"] :active, input[type="text"]:focus, input[type="password"] :active, input[type="password"]:focus, input[type="email"] :active, input[type="email"]:focus {
    border: 3px solid #03faab;
    background-color: #8a8a8a;
    color: #ffffff; }
  /* line 67, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_utility.scss */
  input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover {
    border: 3px solid #03faab;
    background-color: #8a8a8a;
    color: #ffffff; }

/* line 78, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_utility.scss */
.submit-button {
  padding: .75rem 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: #03faab;
  cursor: pointer;
  border: 2px solid #03faab; }
  /* line 85, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_utility.scss */
  .submit-button:hover {
    background-color: #03e19a;
    border-color: #ccc; }
  /* line 89, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_utility.scss */
  .submit-button:active {
    background-color: #02c889; }

/* line 3, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_flash.scss */
.flash-container {
  background-color: grey;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 3em;
  font-size: small;
  display: flex;
  align-items: center;
  border-radius: .25em;
  box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.5);
  margin: 0 3em 3em 0; }

/* line 18, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_flash.scss */
.flash-strip {
  height: 100%;
  width: 5em;
  border-radius: .25em 0 0 .25em; }

/* line 24, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_flash.scss */
.flash-message {
  padding: 0 2em;
  color: white; }

/* line 29, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_flash.scss */
.flash-strip-error {
  background-color: #ff0000; }

/* line 33, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_flash.scss */
.flash-strip-info {
  background-color: #d1c700; }

/* line 37, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_flash.scss */
.flash-strip-success {
  background-color: #03faab; }

/* line 3, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_home.scss */
body {
  background-color: #606060;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem; }

/* line 2, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_login.scss */
.login-container {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  height: auto;
  box-shadow: -2px 0 0.5em 0.5em #505050; }
  /* line 12, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_login.scss */
  .login-container img {
    width: 50%;
    height: 50%; }

/* line 18, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_login.scss */
.login-sub {
  color: #ffffff;
  font-size: 1rem; }
  /* line 21, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_login.scss */
  .login-sub:hover {
    color: #03faab; }

/* line 1, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_nav.scss */
.navbar {
  display: grid;
  grid-template-columns: .1fr .85fr .1fr;
  align-items: center; }
  /* line 7, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_nav.scss */
  .navbar .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1em; }
    /* line 14, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_nav.scss */
    .navbar .nav-list .nav-link {
      text-decoration: none;
      font-size: 1rem;
      color: #ffffff; }
      /* line 19, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_nav.scss */
      .navbar .nav-list .nav-link:hover {
        text-decoration: underline; }

/* line 27, ../../../../../Users/digitelladmin/Documents/code/Recipe App/styles/partials/_nav.scss */
.nav-logo {
  max-height: 3em; }

/*# sourceMappingURL=index.css.map */