// css color values

$bg_main-dark: #505050;
$bg_main: #606060;
$bg_main-light: #707070;

$text_main: #ffffff;

$btn-submit: #03faab;

$nav-link-color: #ffffff;

$border-light: #ccc;
$border-dark: #333;
$border-accent: #03faab;