extends ../layouts/main.pug 

block flash
    include ../components/flash.pug

//- register form
block content
    section(class="container-centered")
        div(class="login-container")
            img(src="/img/cookBook.svg", alt="logo")
            form(class="login-form" action=form.formAction, method=form.formMethod)
                h3=title
                div(class="input-group")
                    label(for='firstName') First Name
                    input(type='text', name='firstName', id='firstName')
                div(class="input-group")
                    label(for='lastName') Last Name
                    input(type='text', name='lastName', id='lastName')
                div(class="input-group")
                    label(for='email') Email
                    input(type='email', name='email', id='email')
                div(class="input-group")
                    label(for='password') Password
                    input(type='password', name='password', id='password')
                button(type='submit' class="submit-button") Sign Up
                div
                    a(class="login-sub" href='/login') Already have an account?