.App{

  .wrapper{


    .nav-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;

      nav{
        display: flex;
        justify-content: space-evenly;
        width:20em;
      }

      button{
        margin:0 2em;
        padding: .5em 2em;

        &:hover{
          background-color:#5ece80;
          border:none;
        }
      }
    }
  }
}