@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Varela+Round&display=swap');

body{
  background-color: rgb(30, 28, 34);
  color:white;
  font-family: 'Varela Round', sans-serif;

  button{
    border:none;
    border-radius: .25em;

    &:hover{
      background-color: #5ece80;
    }
  }

  a{
    color:rgb(144, 99, 155);
    text-decoration: none;

    &:hover{
      text-decoration: underline;
      color: #5ece80;
    }
  }
}