.Show{
  display: flex;
  flex-direction: column;

  .header{
    display: flex;
    align-items: center;

    h1{
      margin:none;
    }
  }

  button{
    margin-left: 3em;
    padding: .5em;

    &:hover{
      background-color: #5ece80;
    }
  }

  .ingredients{
    padding:2em;
  }

  .content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: auto;
    padding:2em;

    img{
      height:30em;
      width: 30em;
      border-radius: 1em;
    }
  }
  p{
    line-height: 1.5em;
  }
}